    .body {
      margin: 0;
      background-image: url("images/skyskraper.jpeg");
  }
  
  
  .navbar {
    background-color: black;
    position: fixed; 
    top: 0; 
    width: 100%; 
    display: flex;
    justify-content: center;
  }
  
  .navbar a {
    font-family: 'bungee', cursive;
    font-weight: 200;
    color: rosybrown;
    padding: 14px 16px;
    text-decoration: none;
  }

  .link {
    color: silver;
  }
  
  .jumbotron {
    position: relative;
    margin-top: 0;
    margin-bottom: 0; 
    background-image: url("images/baybridge1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }

  .jumbotron-text {
    font-family: 'Bangers', cursive;
    font-weight: 400;
    font-size: 1em;
    color: white;
    text-align: center;
    padding-top: 150px;
  }
  
  .jumbotron-text h1 {
    
    font-family: 'Monoton', cursive;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 3em;
    margin-bottom: 0;
  }
  
  .jumbotron-text p {
    margin: 0;
  }

  .work {
    position: relative;
    /* float: center; */
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
  }
  
  /* .work:nth-child(even) {
    margin-right: 40px;
  } */
  
  .work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
  }
  
  .work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: silver;
    text-align: center;
    background: rosybrown;
    border-bottom: 0;
    font-family: 'Permanent Marker', cursive;
  }
  