    .body {
      margin: 0;
  }
  
  
  .navbar {
    background-color: black;
    position: fixed; 
    top: 0; 
    width: 100%; 
    display: flex;
    justify-content: center;
  }
  
  .navbar a {
    font-family: 'bungee', cursive;
    font-weight: 200;
    color: rosybrown;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .jumbotron {
    position: relative;
    margin-top: 0;
    margin-bottom: 0; 
    background-image: url("images/baybridge1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .jumbotron-text {
    font-family: 'Bangers', cursive;
    font-weight: 400;
    font-size: 1em;
    color: white;
    text-align: center;
    padding-top: 150px;
  }
  
  .jumbotron-text h1 {
    
    font-family: 'Monoton', cursive;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 3em;
    margin-bottom: 0;
  }
  
  .jumbotron-text p {
    margin: 0;
  }